{% extends 'mychatapp/base.html' %}

{% block content %}
{% load staticfiles %}
    {% for m in messages %}
        <div class="post">
            <div class="date">
                {{ m.created_date }}
            </div>
            <h1>{{ m.author }}</h1>
            <p>{{ m.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
{% block afterbody %}
{% endblock afterbody %}
{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/main');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}
